* {
    margin: 0;
    padding: 0;
}

body {
    background-color: blue;
}

#header, #footer {
    height: 10vh;
    width: 100%;
    background-color: black;
    border: 1vh solid red;
    color: white;
    text-align: center;
    line-height: 10vh;
    float: right;
}

#main {
    height: 66vh;
    width: 60%;
    float: right;
}

#main , #aside {
    background: black;
    color: white;
    border: 1vh solid red;

}

#aside {
    height: 66vh;
    width: 30%;
    float: right;
    margin-right: 3%;
    text-align: center;
}

#list {
    list-style: none;
    font-size: 40px;

}

li {
    display: block;
    background: red;
    width: 25%;
    height: 7vh;
    margin-left: 37.5%;
    border: 3px solid green;
    border-radius: 10px;
    cursor: pointer;
}

#list li:hover nav{
    background: green;
    color: black;
    border: 3px solid blue;
    border-radius: 10px;
}


a {
    text-decoration: none;
    color: green;
}

li:first-of-type {
    margin-top: 3vh;
}

li:not(:last-of-type) {
    margin-bottom: 15%;
}

li:last-of-type {
    margin-bottom: 0;
}



#header {
    margin-bottom: 2% ;
}

#footer {
    margin-top: 2%;
}